/* || Site wide styling */

/* Site wide font and colors. */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darkgreen;
  background-color: palegreen;
}

#root {
  display: flex;
  flex-direction: column;
  /* necessary for placing the footer at the bottom of the page: */
  height: 100vh;
}

a {
  color:darkgreen;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

/* Align the header content, main, and the footer in a central column. */
header > .wrapper,
main,
footer {
  margin: 0 auto;
  padding: 0 1rem;
  width: 25rem;
}

/* || Header styling */

header {
  padding: 1em 0;
  /* Revert the header's color scheme. */
  color: palegreen;
  background-color: darkgreen;
}

/* Use a grid to place the header elements. */
header > .wrapper {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  row-gap: 0.7em; /* makes long headings fit just below the button */
}
header > .wrapper > label {
  grid-area: a;
  padding-top: 0.3em; /* align the label with the button */
}
header > .wrapper > h1 {
  margin: 0;
  grid-column: c / d;
  grid-row: c;

}
header > .wrapper > nav,
header > .wrapper > button {
  grid-column: b;
  grid-row: b / d;
  align-self: flex-start;
  justify-self: flex-end;
}

/* || Footer styling */

/* This moves the footer away from anything above it and to the bottom of the
   page. */
footer {
  margin-top: auto;
}
footer > .wrapper {
  margin-top: 2rem;
  border-top: solid;
  padding: 1rem;
  font-size: smaller;
  display: flex;
  column-gap: 1em;
  row-gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
}

/* || Form element styling */

/* Make fieldsets and their legends appear like a normal section with an h2
   heading */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
  font-size: 150%;
  margin: 0.8em 0;
}

/* Site wide margin, padding, colors, and corner rounding */
button,
input,
select,
textarea {
  font-size: 95%;
  /* margin: 0.1em; */
  padding: 0.2em;
  color: navajowhite;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-radius: .2em;
}
/* Red borders on invalid input */
button:invalid,
input:invalid,
select:invalid,
textarea:invalid {
  border-style: solid;
  border-color: red;
}
/* Darker background color on hover */
button:hover,
select:hover {
  background-color: rgb(117, 53, 8);
  border-color: rgb(117, 53, 8);
}
/* Greyed out appearance for disabled controls */
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  color: rgb(202, 174, 135);
  background-color: rgb(163, 109, 70);
  border-color: rgb(163, 109, 70);
}

/* Emphasis for important buttons */
button.main {
  font-size: 97%;
  padding: 0.35em;
  font-weight: bold;
}

/* Error message styling */
p.error-message {
  border: solid 5px red;
  background-color: navajowhite;
  color: saddlebrown;
  padding: 1em;
}