main#login {
  margin-top: 2em;
}
main#login fieldset {
  display: grid;
  grid-template:
    "a b" auto / max-content max-content;
  column-gap: 1em;
  row-gap: 0.3em;
}
main#login label {
  margin-top: 0.4em;
}
main#login input {
  max-width: 13em;
}
main#login button {
  width: fit-content;
  grid-column: 2;
  justify-self: flex-end;
  margin-top: 0.5em;
}