/* Space the list of inputs with a flex layout. */
ul.pile-input {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
}

ul.pile-input > li > * {
  margin-top: 0.2em;
}

input.pile-size {
  width: 8em;
}

input.location-input {
  width: 7em;
}

/* Organize the pile property list with a grid layout. */
dl.pile-properties {
  margin: 1.5rem 0 0;
  display: grid;
  width: fit-content;
  grid-template-areas: 'term description';
  gap: 0.3em 0.3em;
}
dl.pile-properties dt {
  grid-area: 'term';
}
dl.pile-properties dd {
  grid-area: 'description';
  margin: 0;
  min-width: 6em;
  font-weight: bold;
  display: flex;
  column-gap: 0.1em;
  justify-content: flex-end;
}
/* Give the divs with the unit symbol a fixed width to align them. */
dl.pile-properties dd :nth-child(2) {
  width: 1.3em;
}

/* Move the "Add pile" button away from the other controls. */
button#add-pile {
  margin: 1.5rem 0;
}