/* General styling of the list of projects. */
ul#project-list {
   list-style: none;
   margin: 0.5em 0;
   padding: 0;
   width: 25em;
   /* display: flex;
   flex-direction: column; */
}
ul#project-list > li {
   padding: 0.3em 0em;
   border-bottom: solid 2px;
}
ul#project-list > li > .wrapper {
   display: flex;
}
ul#project-list > li:last-child {
   border-bottom: none;
}
ul#project-list > li.ongoing > .wrapper {
   background-color: limegreen;
}
/* Style the content of the individual list items. */
ul#project-list > li > .wrapper > button {
   /* Remove button styling */
   color: unset;
   background-color: unset;
   border: unset;
   border-radius: unset;
   margin: unset;
   padding: unset;
   font-size: unset;
   /* Add some other styling */
   flex: 0 13em;
   font-weight: bold;
   text-align: start;
   padding-inline-start: 0.3em;
}
ul#project-list > li > .wrapper > button:hover {
   text-decoration: underline;
}
ul#project-list > li > .wrapper > :nth-child(2) {
   flex: 1;
   align-self: center;
   text-align: end;
}
ul#project-list > li > .wrapper > :last-child {
   flex: 0 8em;
   text-align: end;
   padding: 0.1em 0;
   padding-inline-end: 0.3em;
}