/* || Progress stats list */

/* Style the description list with a flex layout. */
dl.project-progress {
  margin-bottom: 0.3em;
  width: 12em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.5em;
  row-gap: 0.3em;
}
/* Split the total width of the dl container between the dt and dd elements */
dl.project-progress dt {
  flex: 4em;
}
dl.project-progress dd {
  flex: 6em;
  font-weight: bold;
  margin: 0;
  display: flex;
  column-gap: 0.1em;
  justify-content: flex-end;
}
/* Give the divs with the unit symbol a fixed width to align them. */
dl.project-progress dd :nth-child(2) {
  width: 1.3em;
}

/* || The progress bar
 *
 * It consists of three nested containers:
 * 1. the "border box"
 * 2. the "filling" that changes its width depending on the progress
 * 3. a label indicating the progress in numbers/letters
 */

.progress-bar {
  display: block;
  border: solid 2px darkgreen;
  box-sizing: border-box;
  width: 12em;
}
.progress-bar > :first-child {
  /* background-color: rgb(104, 211, 104); */
  background-color: limegreen;
}
.progress-bar > :first-child > :first-child {
  padding: 0.1em 0.3em;
  text-align: center;
  font-weight: bold;
}

/* || List of recorded log piles */

/* General list and list element styling */
ul.pile-list {
  margin: 0;
  padding: 0;
  max-height: 20em;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
ul.pile-list li {
  padding-bottom: 0.3em;
  width: min-content;
  display: flex;
  column-gap: 0.3em;
  align-items: center;
}
/* Bottom borders except for the last element */
ul.pile-list li:nth-last-child(n + 2) {
  border-bottom: solid 2px darkgreen;
}
/* Adjust width and alignment of the different element contents. */
ul.pile-list li > :nth-child(1) {
  width: 8em;
}
ul.pile-list li > :nth-child(2) {
  width: 6em;
  text-align: end;
}
ul.pile-list li > :nth-child(3) {
  width: 7em;
  text-align: end;
}
/* Style the "delete" buttons. */
ul.pile-list li button {
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  padding: 0;
  padding-bottom: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* || Special elements */

/* Move the button for a new pile away from other elements */
button#new-pile {
  margin: 2.5em 0 1em 0;
}

input#target-input {
  width: 8em;
  margin-bottom: 0.1em;
}
